/* Global Background */
.root-pane {
    -fx-background-color: #ffffff;
}

/* The Box/Card Container */
.auth-card {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-spacing: 15;
    -fx-padding: 20;
    -fx-alignment: TOP_CENTER;
    -fx-max-height: 420;
    -fx-max-width: 390;
}

.auth-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.auth-label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.auth-input {
    -fx-pref-height: 37px;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.auth-button {
    -fx-font-size: 12px;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-cursor: hand;
    -fx-pref-height: 33px;
    -fx-pref-width: 120px;
}

.auth-button:hover {
    -fx-background-color: #f1f5f9;
}